.headerDetail{
    position: relative;
    display: flex;
    justify-content: center;
}

.headerDetail-info_creditsItem{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-bebind{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    mix-blend-mode: difference;
}

.img-bebind::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0));
}

.headerDetail-container{
    position: relative;
    margin-top: 120px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.headerDetail-img{
    flex: 40% 0;
    display: flex;
    justify-content: center;
}
.headerDetail-img img{
    width: 360px;
    height: 592px;
    object-fit: cover;
    border-radius: 30px;
}

.headerDetail-info{
    flex: 80% 0;
    margin-left: 10px;
}

.headerDetail-info h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.headerDetail-info_genres{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.headerDetail-info_genres span{
    background-color: black;
    border: 2px solid white;
    padding: 0px 30px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
}

.headerDetail-info_overView{
    display: block;
    font-size: 16px;
    margin-bottom: 50px;
    max-height: 65px;
    overflow-y: scroll;
    padding-right: 5px;
}


.creditsItem_nameActor{
    text-align: center;
    margin-top: 10px;
}
.creditsItem_img{
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.headerDetail-info_credits .swiper-slide{
    flex-shrink: 1 !important;
}

.headerDetail-info_credits{
    max-width: 780px;
    width: 100%;
    overflow-x : hidden;
}

@media screen and (min-width : 860px) and (max-width : 1200px){
    .headerDetail-container{
        max-width: 860px;
    }
    .headerDetail-img{
        flex: 30% 0;
    }
    .headerDetail-info{
        flex: 70% 0;
        margin-left: 40px;
    }
    .headerDetail-info_credits{
        max-width: 500px;
    }
    .headerDetail-img img{
        width: 325px;
        height: 550px;
    }
}

@media screen and (max-width : 859px){
    .headerDetail-img{
        display : none
    }
    .img-bebind{
        height: 350px;
    }
    .headerDetail-info{
        flex: 100%;
        width: 100%;
    }
    .creditsItem_img{
        width: 100px;
        height: 100px;
    }
    .headerDetail-info_overView{
        margin-bottom: 20px;
    }
    .headerDetail-info_genres span{
        padding: 0px 10px;
    }
    .headerDetail-info h1{
        font-size: 30px;
    }
    .creditsItem_nameActor{
        font-size: 12px;
    }
}