:root{
    /* --swiper-theme-color: black; */
}

.plyr--full-ui input[type="range"]{
    color: var(--plyr-range-fill-background,var(--plyr-color-main,var(--plyr-color-main,red))) !important;
}

.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded="true"]{
    background: var(--plyr-video-control-background-hover,var(--plyr-color-main,var(--plyr-color-main,red))) !important;
}

.videoRender{
    margin-bottom: 100px;
    max-width: 1200px;
    width: 100%;
    
}
.nameTrailer{
    font-size: 20px;
    margin-bottom: 10px;
}