.menuList{
    background-color: #0f0f0f;
    color: white;
    animation: showMenu 1 0.5s forwards;
    display: none;
    transform-origin: top;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
}

@keyframes showMenu{
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.menuList-container{
    display: flex;
    flex-wrap: wrap;
}

.menuList-item{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    transition: 0.25s all ease;
    cursor: pointer;
}

.menuList-item:hover{
    background-color: red;
}