

.btn-2{
    position: relative;
    width: 155px;
    height: 50px;
    margin: 20px;
    cursor: pointer;
    z-index: 0;
}

.btn-2 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: #fff;
    z-index: 2;
    font-weight: 400;
    letter-spacing: 1px;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
    
}


.btn-2:hover span{
    letter-spacing: 3px;
}

.btn-2 span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15),transparent);
    transform: skewX(45deg) translateX(0); 
    transition: 0.5s all ease;
}

.btn-2:hover span::before{
    transform: skewX(45deg) translateX(200%);
}


.btn-2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s all ease;
    transition-delay: 0s;
}

.btn-2:hover:before{
    bottom: 0;
    height: 100%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}


.btn-2::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s all ease;
    transition-delay: 0s;
}

.btn-2:hover::after{
    top: 0;
    height: 100%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}


.color1.btn-2::before,
.color1.btn-2::after{
    background: #f00;
    box-shadow: 0 0 5px #f00,
    0 0 15px #f00,
    0 0 30px #f00,
    0 0 60px #f00;
    z-index: -1;
    
}

.color2.btn-2::before,
.color2.btn-2::after{
    background: #ff1f71;
    box-shadow: 0 0 5px #ff1f71,
    0 0 15px #ff1f71,
    0 0 30px #ff1f71,
    0 0 60px #ff1f71
}

.color3.btn-2::before,
.color3.btn-2::after{
    background: #2bd2ff;
    box-shadow: 0 0 5px #2bd2ff,
    0 0 15px #2bd2ff,
    0 0 30px #2bd2ff,
    0 0 60px #2bd2ff
}

.color4.btn-2::before,
.color4.btn-2::after{
    background: #1eff45;
    box-shadow: 0 0 5px #1eff45,
    0 0 15px #1eff45,
    0 0 30px #1eff45,
    0 0 60px #1eff45
}

.color5.btn-2::before,
.color5.btn-2::after{
    background: #ffff00;
    box-shadow: 0 0 5px #ffff00,
    0 0 15px #ffff00,
    0 0 30px #ffff00,
    0 0 60px #ffff00
}

.color6.btn-2::before,
.color6.btn-2::after{
    background: #ff4500;
    box-shadow: 0 0 5px #ff4500,
    0 0 15px #ff4500,
    0 0 30px #ff4500,
    0 0 60px #ff4500
}

.color7.btn-2::before,
.color7.btn-2::after{
    background: #ffbfb3;
    box-shadow: 0 0 5px #ffbfb3,
    0 0 15px #ffbfb3,
    0 0 30px #ffbfb3,
    0 0 60px #ffbfb3
}

.color8.btn-2::before,
.color8.btn-2::after{
    background: #C688EB;
    box-shadow: 0 0 5px #C688EB,
    0 0 15px #C688EB,
    0 0 30px #C688EB,
    0 0 60px #C688EB
}

.color9.btn-2::before,
.color9.btn-2::after{
    background: #fac140;
    box-shadow: 0 0 5px #fac140,
    0 0 15px #fac140,
    0 0 30px #fac140,
    0 0 60px #fac140
}


@media screen and (max-width : 599px) {
    .btn-2{
        width: 100px;
        height: 40px;
        margin: 20px 10px;
    }
    .btn-2 span{
        font-size: 14px;
    }
}