.movieFilm-container{
    max-width: 1200px;
    width: 100%;
    height: 675px;
}

.movieFilm{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

@media screen and (min-width : 860px) and (max-width : 1200px) {
    .movieFilm-container{
        height: 500px;
    }
}

@media screen and (min-width : 600px) and (max-width : 859px) {
    .movieFilm-container{
        max-width: 700px;
        height: 400px;
    }
}

@media screen and (max-width : 599px){
    .movieFilm-container{
        max-width: 500px;
        height: 300px;
    }
}