.listMovieHome{
    display: flex;
    justify-content: center;
    margin: 60px 0px;
    transition: 0.25s ease all;
}

.listMovieHome-container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    transition: 0.25s ease all;
}

.listMovieHome-infor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 10px 0px;
}

.listMovieHome-infor h3{
    font-size: 25px;
}

.listMovieHome-infor button{
    outline: none;
    color: white;
    background-color: transparent;
    padding: 4px 24px;
    font-size: 18px;
    border-radius: 50px;
    border: 2px solid white;
    transition: 0.25s ease all;
    cursor: pointer;
}

.listMovieHome-infor button:hover{
    color: red;
    background-color: white;
}

.listMovieHome-list .swiper-slide{
    flex-shrink: 1 !important;
}

@media screen and (max-width : 599px){
    .listMovieHome{
        margin: 40px 0px;

    }
}