

.text-animation2{
    color: #0e3742;
    width: 100%;
    outline: none;
    animation: animateText 2s linear infinite;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
}

.text-animation2.color1{
    animation: animateText 2s linear infinite;
    
    
}

.text-animation2.color2{
    animation: animateText2 2s linear infinite;
    
}

.text-animation2.color3{
    animation: animateText3 2s linear infinite;
    
}

.text-animation2.color4{
    animation: animateText4 2s linear infinite;

}

.text-animation2.color5{
    animation: animateText5 2s linear infinite;

}

.text-animation2.color6{
    animation: animateText6 2s linear infinite;

}

.text-animation2.color7{
    animation: animateText7 2s linear infinite;
 
}

.text-animation2.color8{
    animation: animateText8 2s linear infinite;

}

.text-animation2.color9{
    animation: animateText9 2s linear infinite;

}

@keyframes animateText {
    0%{
        color: #0e3742;
        text-shadow: none;
    }
    100%{
        color: #fff;
        text-shadow: 0 0 40px red,
        0 0 80px red,
        0 0 160px red,
        0 0 320px red,
        0 0 640px red;
    }
}

@keyframes animateText2 {
    0%{
        color: #0e3742;
        text-shadow: none;
    }
    100%{
        color: #fff;
        text-shadow: 0 0 40px #ff1f71,
        0 0 80px #ff1f71,
        0 0 160px #ff1f71,
        0 0 320px #ff1f71,
        0 0 640px #ff1f71;
    }
}

@keyframes animateText3 {
    0%{
        color: #0e3742;
        text-shadow: none;
    }
    100%{
        color: #fff;
        text-shadow: 0 0 40px #2bd2ff,
        0 0 80px #2bd2ff,
        0 0 160px #2bd2ff,
        0 0 320px #2bd2ff,
        0 0 640px #2bd2ff;
    }
}

@keyframes animateText4 {
    0%{
        color: #0e3742;
        text-shadow: none;
    }
    100%{
        color: #fff;
        text-shadow: 0 0 40px #1eff45,
        0 0 80px #1eff45,
        0 0 160px #1eff45,
        0 0 320px #1eff45,
        0 0 640px #1eff45;
    }
}

@keyframes animateText5 {
    0%{
        color: #0e3742;
        text-shadow: none;
    }
    100%{
        color: #fff;
        text-shadow: 0 0 40px #ffff00,
        0 0 80px #ffff00,
        0 0 160px #ffff00,
        0 0 320px #ffff00,
        0 0 640px #ffff00;
    }
}

@keyframes animateText6 {
    0%{
        color: #0e3742;
        text-shadow: none;
    }
    100%{
        color: #fff;
        text-shadow: 0 0 40px #ff4500,
        0 0 80px #ff4500,
        0 0 160px #ff4500,
        0 0 320px #ff4500,
        0 0 640px #ff4500;
    }
}

@keyframes animateText7 {
    0%{
        color: #0e3742;
        text-shadow: none;
    }
    100%{
        color: #fff;
        text-shadow: 0 0 40px #ffbfb3,
        0 0 80px #ffbfb3,
        0 0 160px #ffbfb3,
        0 0 320px #ffbfb3,
        0 0 640px #ffbfb3;
    }
}

@keyframes animateText8 {
    0%{
        color: #0e3742;
        text-shadow: none;
    }
    100%{
        color: #fff;
        text-shadow: 0 0 40px #C688EB,
        0 0 80px #C688EB,
        0 0 160px #C688EB,
        0 0 320px #C688EB,
        0 0 640px #C688EB;
    }
}

@keyframes animateText9 {
    0%{
        color: #0e3742;
        text-shadow: none;
    }
    100%{
        color: #fff;
        text-shadow: 0 0 40px #fac140,
        0 0 80px #fac140,
        0 0 160px #fac140,
        0 0 320px #fac140,
        0 0 640px #fac140;
    }
}
