
.textCustom.color1 {
        color: #fff;
        text-shadow: 0 0 20px red,
        0 0 40px red,
        0 0 80px red,
        0 0 160px red,
        0 0 320px red;
}

.textCustom.color2 {
    
        color: #fff;
        text-shadow: 0 0 20px #ff1f71,
        0 0 40px #ff1f71,
        0 0 80px #ff1f71,
        0 0 160px #ff1f71,
        0 0 320px #ff1f71;

}

.textCustom.color3 {
    
        color: #fff;
        text-shadow: 0 0 20px #2bd2ff,
        0 0 40px #2bd2ff,
        0 0 80px #2bd2ff,
        0 0 160px #2bd2ff,
        0 0 320px #2bd2ff;
    
}

.textCustom.color4{
    
        color: #fff;
        text-shadow: 0 0 20px #1eff45,
        0 0 40px #1eff45,
        0 0 80px #1eff45,
        0 0 160px #1eff45,
        0 0 320px #1eff45;
    
}

.textCustom.color5 {
   
        color: #fff;
        text-shadow: 0 0 20px #ffff00,
        0 0 40px #ffff00,
        0 0 80px #ffff00,
        0 0 160px #ffff00,
        0 0 320px #ffff00;
    
}

.textCustom.color6{
   
        color: #fff;
        text-shadow: 0 0 20px #ff4500,
        0 0 40px #ff4500,
        0 0 80px #ff4500,
        0 0 160px #ff4500,
        0 0 320px #ff4500;
    
}

.textCustom.color7{
    
        color: #fff;
        text-shadow: 0 0 20px #ffbfb3,
        0 0 40px #ffbfb3,
        0 0 80px #ffbfb3,
        0 0 160px #ffbfb3,
        0 0 320px #ffbfb3;
    
}

.textCustom.color8 {
    
        color: #fff;
        text-shadow: 0 0 20px #C688EB,
        0 0 40px #C688EB,
        0 0 80px #C688EB,
        0 0 160px #C688EB,
        0 0 320px #C688EB;
    
}

.textCustom.color9 {
    
        color: #fff;
        text-shadow: 0 0 20px #fac140,
        0 0 40px #fac140,
        0 0 80px #fac140,
        0 0 160px #fac140,
        0 0 320px #fac140;
    }

